<html>

<head>
  <title>Flask Intro - login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <img src="{{ url_for('static', filename='default.png') }}" width="80px">
    <h1>Log in</h1>
    <br>
    <form action="" method="post">
      <input type="email" placeholder="Email" name="email" value="{{
          request.form.email }}">
      <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</body>

</html>