<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Encargado
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/encargado/agregar">Agregar</a></li>
            <li><a class="dropdown-item" href="/encargado/consultar">Consultar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
